.HomeBuyingHeroSection {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 15rem;

  .HeroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .BgImg {
      position: relative;
      z-index: -1;
      width: 100vw;

      img {
        width: 100%;
      }
    }

    .HeadingWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      position: absolute;
      z-index: 1;
      margin-top: 15.5rem;
      color: var(--ion-color-light);

      .TextWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;

          span {
            color: var(--ion-color-primary);
          }
        }

        h6 {
          width: 69.5rem;
          text-align: center;
          line-height: 3rem;
        }
      }

      .HomeBuyingHeroButton {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--ion-color-primary);
        border: none;
        border-radius: 4rem;
        color: var(--ion-color-light);
        padding: 1.5rem 2.25rem;
        transition: all 0.2s ease-out;

        &:hover {
          img {
            rotate: -45deg;
            transition: all 0.2s ease-out;
          }
        }
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: calc(70vh - 90px);
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 40, 104, 0) -22.42%,
        #002868 100%
      );
    }
  }

  .ScrollIcon {
    width: 24px;
    height: 48px;
    border: 4px solid rgba(0, 40, 104, 0.5);
    border-radius: 32px;
    position: absolute;
    bottom: -16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // z-index: 4;

    .scroller {
      width: 8px;
      height: 8px;
      background-color: rgba(0, 40, 104, 0.8);
      border-radius: 50%;
      position: absolute;
      animation: scroll 1.5s linear infinite;
    }
    @keyframes scroll {
      0%,
      100% {
        top: 20%;
      }
      50% {
        top: 60%;
      }
    }
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: -30%;
  //   width: 100%;
  //   height: 38rem;
  //   display: block;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(255, 255, 255, 0) 0%,
  //     rgba(255, 255, 255, 0.386359) 17.57%,
  //     rgba(255, 255, 255, 0.716478) 54.17%,
  //     #ffffff 100%
  //   );
  //   z-index: 2;
  // }
}
