@mixin h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
}

@mixin h2 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
}

@mixin h3 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
}

@mixin h4 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}

@mixin h5 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
}

@mixin h6 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
}

@mixin p {
  //body
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

@mixin pv2 {
  //body2
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

@mixin sub {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}

@mixin subv2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

@mixin caption {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
}

@mixin overline {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  word-spacing: 1.2;
}
