.WhyChooseUsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  .BgImg {
    position: relative;
    z-index: 0;
    width: 100vw;
    // height: calc(100vh - 90px);

    img {
      width: 100%;
    }
  }

  .AboutUsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    position: absolute;
    // margin-top: 20rem;

    .ImgWrap {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 2.25rem;
        top: -2rem;
        width: 10rem;
        height: 13rem;
        background-color: var(--ion-color-secondary);
        border-radius: 2rem;
        box-shadow: 0px 4px 8px 0px rgba(2, 40, 100, 0.16),
          4px 0px 8px 0px rgba(2, 40, 100, 0.16);
        animation: float-up 3s infinite ease-in-out;
      }

      @keyframes float-up {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: 2.25rem;
        bottom: -2rem;
        width: 8rem;
        height: 11rem;
        background-color: var(--ion-color-primary);
        border-radius: 2rem;
        box-shadow: 0px 4px 8px 0px rgba(2, 40, 100, 0.16),
          4px 0px 8px 0px rgba(2, 40, 100, 0.16);
        animation: float-down 3s infinite ease-in-out;
      }

      @keyframes float-down {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
      }
    }

    .ContentWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .heading {
        color: var(--ion-color-secondary);

        span {
          color: var(--ion-color-primary);
        }
      }

      .para {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 3rem 0 4rem 0;
        width: 70rem;
      }

      .AboutUsButton {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--ion-color-primary);
        border: none;
        color: var(--ion-color-light);
        padding: 1.5rem 3rem;
        border-radius: 5rem;
        cursor: pointer;
        transition: all 0.2s ease-out;

        .ArrowIcon {
          transition: all 0.2s ease-out;
        }

        &:hover {
          padding-right: 2rem;

          .ArrowIcon {
            rotate: -45deg;
          }
        }
      }
    }

    .ScrollIcon {
      width: 24px;
      height: 48px;
      border: 4px solid rgba(0, 40, 104, 0.5);
      border-radius: 32px;
      position: absolute;
      bottom: -195px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .scroller {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 40, 104, 0.8);
        border-radius: 50%;
        position: absolute;
        animation: scroll 1s linear infinite;
      }

      @keyframes scroll {
        0%,
        100% {
          top: 20%;
        }
        50% {
          top: 60%;
        }
      }
    }
  }
}
